[Desktop Entry]
Name=Titan GCode viewer
Exec=titan-slicer --gcodeviewer %F
Icon=TitanSlicer-gcodeviewer
Terminal=false
Type=Application
MimeType=text/x.gcode;
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
